/*
=========================================================
Project.......: ProofChain
Component.....: FormFileUpload
File..........: FormFileUpload.css
Version.......: 1.0.0

Methodology...:
BEM
=========================================================
*/

.file-upload {

    width: 100%;

    padding: var(--spacing-sm);

    border: 1px dashed var(--color-border);

    border-radius: var(--radius-md);

    background: var(--color-background);

    cursor: pointer;

}


.file-upload:disabled {

    opacity: .6;

    cursor: not-allowed;

}