/*
=========================================================
Project.......: ProofChain
Component.....: Alert
File..........: Alert.css
Version.......: 1.0.0
Methodology...: BEM
=========================================================
*/

.alert{

    padding:var(--spacing-md);

    border-radius:var(--radius-md);

    border:1px solid transparent;

}

.alert--info{

    color:var(--color-info);

    border-color:var(--color-info);

}

.alert--success{

    color:var(--color-success);

    border-color:var(--color-success);

}

.alert--warning{

    color:var(--color-warning);

    border-color:var(--color-warning);

}

.alert--danger{

    color:var(--color-danger);

    border-color:var(--color-danger);

}