/* Custom Brand Colors */
:root {
  --green-light: #e6f7ee;
  --green-medium: #a8e6c1;
  --green: #08602a;
  --green-logo: #30a335;
  --green-dark-logo: #07672a;

  --white: #ffffff;
  --gray-light: #f8f9fa;
  --gray: #6c757d;
  --gray-medium: #e7e7e7;
  --gray-dark: #495057;
  --black: #212525;

  --red-ligth: #f98d8d;
  --red: #d50404;

  --color-text: var(--black);
  --color-background: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}