html {
  font-size: 100%; /* 16px */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--black);
}

/* Headings */
h1 {
  font-size: 2.75rem;
  line-height: 1.2;
  font-weight: 800;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

/* Texto */
p {
  font-size: 1rem;
  line-height: 1.6;
}

small {
  font-size: 0.875rem;
  color: var(--gray);
}

/* Labels */
label {
  font-size: 0.875rem;
  font-weight: 600;
}
