:root {
  --primary: #2d6cdf;
  --secondary: #1e293b;
  --success: #16a34a;
  --danger: #dc2626;
  --background: #ebf1f7;
  --card-bg: #ffffff;
  --text-dark: #0f172a;
  --text-muted: #64748b;
  --button:#3bf5d0;
  --button-text:#065236;
  --button-hover:#0c9a66;
  --button-hover-text:#3bf5d0;

  --radius: 12px;
  --shadow: 0 0px 2px rgba(0,0,0,1);

  --container:1200px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

body {
    font-family: Arial, sans-serif;
    background: var(--background);
    color: var(--text-dark);
    height: 100vh;
}