.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 16px;
    background-color: #c308e3;
    /* visibility: hidden; */
}
.logo{
    width: 100px;
    margin: 10px;
}

.box-logo{
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-right: 15px;
}
.texto-perfil{
    font-size: 12px;
    color: var(--text-muted);
    margin: 0;
    text-align: center;
}
.nome-perfil{
    font-size: 16px;
    font-weight: bold;
    color: var(--text-dark);
    margin: 0;
}

.avatar-perfil{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--button-text);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}