.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 16px;
    background-color: #c308e3;
    visibility: hidden;
}
.logo{
    width: 100px;
    margin: 10px;
}

.avatar-initial{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--button-text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}