.login-slogan h2 {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 0px;
  color: #065236;
  text-align: center;
}
.login-slogan p {
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.6;
  color: #000000;
  text-align: center;
}

.login-container {
  position: relative;
  display: flex;
  height: 100vh;
  background: #ccc;
}

.login-image {
  flex: 1;
  width: 50%;
  padding: 0px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  height: 100 vh;
  z-index: 1;
}

.login-image img{
  height: 100%;
  width: 100%;
}

.login-slogan{
  background: rgba(255, 255, 255, 0.5); /*Fundo semi-transparente para leitura */
  padding: 0px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  position: absolute;     /* Sai do fluxo normal */
  bottom: 20px;           /* Posiciona na parte inferior do container */
  left: 0px;              /* Posiciona no lado esquerdo do container */
  width: 50%;             /* Deve ter a mesma largura que o .login-image */
  box-sizing: border-box; /* Garante que o padding não aumente o width */
  z-index: 10;            /* Mantenha um z-index alto para garantir a sobreposição */
}

.login-form {
  flex: 1;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form .logo {
  width: 150px;
  margin-bottom: 30px;
  align-self: center;
}
.login-form h3 {
  margin-bottom: 30px;
  color: var(--primary);
  align-items: center;
}
.login-form form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
.login-form button {
  padding: 12px;
  background: var(--primary);
  color: #fff;
  font-weight: bolder;
  border: 2px solid var(--secondary);
  border-radius: 45px;
  cursor: pointer;
}
 
.login-form button:hover {
  background: #1e40af;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
  .login-image, .login-form {
    flex: none;
    width: 100%;
    height: auto;
    padding: 40px;
  }
}

