/*
=========================================================
Project.......: ProofChain
Component.....: Footer
File..........: Footer.css
Version.......: 1.0.0

Methodology...:
BEM
=========================================================
*/

/* ==========================================================
   FOOTER
   Seção de rodapé do ProofChain.
========================================================== */

.footer {
  width: 100%;
  padding: var(--section-padding-y) var(--section-padding-x);
  background: var(--gradient-brand);
  color: var(--text-primary);
}

.footer__content {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: stretch;
  gap: var(--space-lg);
  padding-top: var(--spacing-xl);
  margin-top: var(--spacing-xl);
  border-top: 1px solid var(--color-border);
  background-color: var(--gradient-brand);
}

/* ==========================================================
  BRAND
========================================================== */

.footer__brand {
  flex-shrink: 0;
  align-items: center;
  width: 50%;
}

.footer__logo {
  height: 60px;
  width: auto;
  display: block;
  object-fit: contain;
}

.footer__description {
  font-family: var(--font-body);
  font-size: var(--body-small);
  font-weight: var(--weight-light);
  color: var(--text-secondary);
  max-width: 70%;
  width: 100%;
  margin: var(--space-md) 0;
}

/* ==========================================================
  NAVIGATION
========================================================== */

.footer__menu {
  display: flex;
  gap: var(--space-xl);
  width: 60%;
}

.footer__nav-titulo {
  font-size: var(--body-small);
  font-weight: var(--weight-bold);
  margin-bottom: var(--space-xs);
  color: var(--text-primary);
}
.footer__nav {
  font-family: var(--font-body);
  font-size: var(--body-small);
  font-weight: var(--weight-light);
  color: var(--text-secondary);
  line-height: VAR(--line-normal);
}
.footer__legal {
  font-family: var(--font-body);
  font-size: var(--body-small);
  font-weight: var(--weight-light);
  color: var(--text-secondary);
  line-height: VAR(--line-normal);
}

/* ==========================================================
  CONTACT
========================================================== */

.footer__contact {
  font-family: var(--font-body);
  font-size: var(--body-small);
  font-weight: var(--weight-light);
  color: var(--text-secondary);
  line-height: VAR(--line-normal);
  /* display: flex; */
  align-items: center;
  gap: var(--space-2);
}

.footer__contact-email {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}
.footer__contact-icon {
  width: 30px;
  height: 30px;
  display: flex;
  color: var(--action-hover);
  flex: 0 0 24px;
  align-items: center;
  justify-content: center;
}

.footer__contact-link {
  font-family: var(--font-body);
  font-size: var(--body-small);
  font-weight: var(--weight-light);
  color: var(--text-secondary);
  line-height: var(--line-normal);
  text-decoration: none;
}

/* ==========================================================
  COPYRIGHT
========================================================== */

.footer__copyright {
  width: 100%;
  max-width: 1440px;
  padding: var(--section-padding-y);
  border-top: 1px solid var(--border-buttom);
  align-items: center;
  margin-top: var(--space-sm);
}

.footer__copyright-description {
  font-family: var(--font-body);
  font-size: var(--body-small);
  font-weight: var(--weight-light);
  text-align: center;
  color: var(--text-secondary);
}

/* ==========================================================
   RESPONSIVIDADE
========================================================== */

/* Tablet e mobile: ajustes gerais */
@media (max-width: 1023px) {
}

/* Mobile: ativa hambúrguer e oculta navegação */
@media (max-width: 767px) {
  .footer__content {
    display: block;
  }

  .footer__brand {
    width: 100%;
  }
  .footer__logo {
    height: 100px;
    width: auto;
    margin: var(--space-md) auto;
    display: block;
    object-fit: contain;
  }

  .footer__description {
    max-width: 75%;
    margin: auto;
    width: 70%;
    text-align: center;
    font-size: var(--body-default);
  }

  .footer__menu {
    display: block;
    width: 100%;
    gap: 0;
    font-size: var(--body-default);
    margin: var(--space-xl) 0;
    text-align: center;
  }

  .footer__nav {
    font-size: var(--body-default);
  }

  .footer__legal {
    margin-top: var(--space-xl);
    font-size: var(--body-default);
  }
}

/* Mobile muito pequeno */
@media (max-width: 576px) {
  .footer__content {
    display: block;
  }

  .footer__brand {
    width: 100%;
  }
  .footer__logo {
    height: 100px;
    width: auto;
    margin: var(--space-md) auto;
    display: block;
    object-fit: contain;
  }

  .footer__description {
    max-width: 75%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: var(--body-default);
  }

  .footer__menu {
    display: block;
    width: 100%;
    gap: 0;
    font-size: var(--body-default);
    margin: var(--space-md) 0;
    text-align: center;
  }
  .footer__nav {
    font-size: var(--body-default);
  }

  .footer__legal {
    margin-top: var(--space-xl);
    font-size: var(--body-default);
  }
}
