/*
=========================================================
Project.......: ProofChain
Component.....: FormGroup
File..........: FormGroup.css
Version.......: 1.0.0

Methodology...:
BEM
=========================================================
*/

.form-group {

    display: flex;

    border: 0;

    padding: 0;

    margin: 0;

}


.form-group--vertical {

    flex-direction: column;

    gap: var(--spacing-md);

}


.form-group--horizontal {

    flex-direction: row;

    align-items: center;

    gap: var(--spacing-md);

}


.form-group--disabled {

    opacity: .6;

}