/*
=========================================================
Project.......: ProofChain
Component.....: Container
File..........: Container.css
Version.......: 1.0.0

Description...:
Container styles.

Responsibility:
Standardize page width.

Methodology...:
BEM
=========================================================
*/

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--spacing-lg);
}

.container--sm {
  max-width: 640px;
}

.container--md {
  max-width: 768px;
}

.container--lg {
  max-width: 1024px;
}

.container--xl {
  max-width: 1280px;
}

.container--fluid {
  max-width: 100%;
}
