:root {

    /* ======================================================
       BORDER WIDTH
    ====================================================== */

    --border-width-thin: 1px;
    --border-width-default: 2px;
    --border-width-thick: 3px;

    /* ======================================================
       BORDER STYLE
    ====================================================== */

    --border-style: solid;

}