:root {

    /* ======================================================
       OPACITY
    ====================================================== */

    --opacity-disabled: .50;

    --opacity-muted: .65;

    --opacity-overlay: .80;

    --opacity-hover: .90;

}